@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");

:root {
  --primary-color: #0a0033;
  // --primary-color: #090909;
  --secondary-color: #ffa47d;
  // --sidebar-color: #2a003b;
  --sidebar-color: #090025;
  // --sidebar-color: #1e1e1e;
  // --music-player-color: #390a4d;
  --music-player-color: #190d4a;
  // --primary-text-color: #c4c4c4;
  --primary-text-color: #f3f3f3;
  // --secondary-text-color: #898989;
  --secondary-text-color: #b4b4b4;
  --highlight-color: #c5ffe6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  &::-webkit-scrollbar-track {
    background-color: #080024;
  }

  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #2c1b5e;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #3d2a75;
  }
}

.menu-exit {
  display: none;
}

// .logo-container {
//   text-align: center;
//   .logo {
//     font-family: "Great Vibes", cursive;
//     font-size: 1.2rem;
//     color: var(--secondary-color);
//     width: 100%;
//   }
// }

.logo-container {
  display: flex !important;
  flex-direction: column;
  // align-items: center;
  // justify-content: center;
  gap: 0.1rem;
  padding: 0 0.5rem;

  .logo {
    color: var(--secondary-color);
    font-family: "Luckiest Guy", cursive;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: capitalize;

    img {
      width: 1.3rem;
      height: 1.3rem;
    }

    // span {
    //   font-family: "Monoton", cursive;
    // }
  }

  .line-design {
    border-radius: 10rem;
    width: 4rem;
    height: 0.15rem;
    background: linear-gradient(to right, #ff3588, #ac5ccd);
  }
}

.sidebar {
  background: var(--sidebar-color);
  width: 19rem;
  height: 100vh;
  position: fixed;
  left: 0;
  padding: 1.5rem 3rem;
  padding-bottom: 9rem;
  overflow-y: auto;
  z-index: 5;

  & > * {
    margin: 1.2rem 0;
  }

  section {
    padding: 1rem 0;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.1);

    h1 {
      font-size: 1rem;
      color: var(--primary-text-color);
      margin-bottom: 0.5rem;
      padding: 0 0.6rem;
      font-weight: 500;
    }

    .side-menu {
      padding: 0.7rem;
      margin: 0.2rem 0;
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      cursor: pointer;
      border-radius: 0.5rem;

      // &::after {
      //   content: "";
      //   position: absolute;
      //   left: 0;
      //   bottom: 0;
      //   width: 100%;
      //   height: 1px;
      //   background: #707070;
      //   opacity: 0.2;
      // }

      // &:hover::after {
      //   background: var(--primary-text-color);
      // }

      &:hover {
        background: rgba(255, 255, 255, 0.05);
      }

      span {
        font-size: 0.8rem;
        font-weight: 500;
        color: rgba(255, 255, 255, 0.5);
        transition: color 0.3s ease-in;
      }

      &:hover span {
        color: lightgray;
      }

      // &.active span {
      //   color: var(--highlight-color);
      // }

      &.active {
        background: #180c4a;

        svg > path {
          fill: lightgray;
        }

        span {
          color: lightgray;
        }
      }

      &.active::after {
        height: 2px;
        background: var(--highlight-color);
      }

      span,
      &::after {
        transition: all 0.2s ease-in;
      }

      svg {
        width: 1rem;
        height: 1rem;
        margin-right: 1rem;
        color: rgba(255, 255, 255, 0.5);
      }

      svg > path {
        transition: fill 0.3s ease-in;
      }

      &:hover svg > path {
        fill: lightgray;
      }
    }
  }

  .subs-btn {
    width: 100%;
    border-radius: 0.5rem;
    padding: 1rem;
    font-weight: 600;
    font-size: 0.9rem;
    background-color: #180c4a;
    color: var(--primary-text-color);
    margin-top: 1.1rem;
  }

  .subs-btn:hover {
    background-color: #1e0f5c;
  }

  &::-webkit-scrollbar-track {
    background-color: #080024;
  }

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #2c1b5e;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #3d2a75;
  }
}

header {
  margin-left: 19rem;
  padding: 4.5rem 3.5rem;
  padding-bottom: unset;
  background: var(--primary-color);
  height: 4rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    width: 1.2rem;
    height: 1.2rem;
  }

  .search-container {
    display: flex;
    gap: 1rem;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 0 1.2rem;
    border-radius: 0.5rem;

    .search-btn {
      display: flex;
      align-items: center;
      img {
        width: 0.9rem;
      }

      i {
        color: rgba(255, 255, 255, 0.4);
      }
    }
    .search-input {
      background: transparent;
      border: none;
      padding: 1rem 0;
      width: 20rem;
      color: var(--primary-text-color);

      &::placeholder {
        font-size: 0.75rem;
        color: rgba(255, 255, 255, 0.4);
      }
    }
  }

  .logo-container {
    display: none !important;
  }

  .header-account-settings {
    display: flex;
    align-items: center;
    gap: 1.8rem;

    .notification,
    .settings {
      width: 1.1rem;
      height: 1.1rem;
    }

    .profile-pic {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
    }
  }

  .menu-btn-mobile-tab {
    display: none;
  }
}

.main {
  margin-left: 19rem;
  background: var(--primary-color);
  padding: 6rem 3.5rem;
  padding-bottom: 9rem;
  overflow: hidden;
  min-height: 100vh;

  h1 {
    color: var(--primary-text-color);
    font-size: 1.7rem;
    margin-bottom: 2rem;
    font-weight: 600;
    // letter-spacing: 1px;
    // font-family: "Luckiest Guy", cursive;

    span {
      // font-family: "Luckiest Guy", cursive;
    }
  }

  .song-list {
    display: flex;
    gap: 2rem;
    margin-bottom: 3rem;
    // overflow: hidden;
  }

  // .song-list::-webkit-scrollbar {
  //   display: none;
  // }

  .song-info {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    width: 13rem;

    img {
      width: 13rem;
      height: 13rem;
      margin-bottom: 0.5rem;
      border-radius: 1.5rem;
    }

    p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .song-name {
      font-size: 0.8rem;
      font-weight: 500;
      color: var(--primary-text-color);
    }

    .song-artist {
      font-size: 0.7rem;
      color: var(--secondary-text-color);
    }
  }
}

.player {
  background: var(--music-player-color);
  width: 100%;
  height: 7rem;
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 1rem 3.5rem;
  z-index: 6;

  display: flex;
  justify-content: space-between;
  align-items: center;

  // display: grid;
  // grid-template-columns: 1fr auto auto;

  .current-song-info {
    display: flex;
    align-items: center;
    gap: 2rem;

    img {
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
    }

    & > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 0.4rem;

      .song-name {
        color: var(--primary-text-color);
        font-weight: 600;
      }

      .song-artist {
        font-size: 0.8rem;
        color: var(--secondary-text-color);
      }
    }
  }

  .music-controller {
    display: flex;
    gap: 5rem;

    .play-fo-back-controller {
      display: flex;
      align-items: center;
      gap: 1.2rem;

      img {
        transform: scale(0.8);
      }

      i {
        cursor: pointer;
        transition: all 0.1s ease-in-out;

        &:hover {
          transform: scale(1.05);
        }

        &:active {
          transform: scale(1);
        }
      }

      .play {
        font-size: 2.8rem;
        color: #e8e7ed;
      }

      .backward,
      .forward {
        font-size: 1rem;
        color: #a19bb5;

        &:hover {
          transform: scale(1.1);
        }

        &:active {
          transform: scale(1);
        }
      }
    }

    .main-controller {
      display: flex;
      align-items: center;
      gap: 1.2rem;

      p {
        font-size: 0.8rem;
        font-weight: 500;
        color: var(--secondary-text-color);
      }

      .slider-container {
        display: flex;
        align-items: center;

        .slider {
          width: 25rem;
          height: 1px;
        }
      }
    }

    .interactivity {
      display: flex;
      align-items: center;
      gap: 1.2rem;

      img {
        width: 1rem;
        height: 1rem;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &:hover {
          transform: scale(1.2);
        }
      }

      // i {
      //   width: 0.9rem;
      //   height: 0.9rem;
      //   color: rgba(255, 255, 255, 0.6);
      //   transition: all 0.08s ease-in;
      //   cursor: pointer;

      //   &:hover {
      //     color: rgba(255, 255, 255, 0.9);
      //   }
      // }

      .other-options {
        color: var(--secondary-text-color);
        font-weight: bold;
        letter-spacing: 0.1rem;
        margin-bottom: 0.5rem;
        cursor: pointer;
      }
    }
  }

  .full-min-player-toggle {
    width: 0.9rem;
    height: 0.9rem;
    cursor: pointer;
  }

  .loading-bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    grid-column: 1 / span 3;
    width: 100%;
    height: 2px;
    background: var(--highlight-color);
  }
}

// Media Queries for Responsive Design

@media only screen and (max-width: 500px) {
  .menu-exit,
  .menu-btn-mobile-tab {
    display: unset !important;
  }

  .sidebar {
    // display: none;
    left: unset !important;
    right: -20rem;
    padding: 1.5rem;
    transition: transform 0.6s ease-in-out;
    transform-origin: left;

    .menu-exit {
      top: 1rem;
      width: 1rem;
      height: 1rem;
      margin: 0rem !important;
      cursor: pointer;
    }

    .logo-container {
      display: none !important;
    }

    h1 {
      font-size: 1rem !important;
    }

    section {
      padding: 0 1rem;
      .side-menu {
        padding: 0.7rem 0;
        svg {
          width: 0.8rem;
          height: 0.8rem;
          margin-right: 0.5rem !important;
        }

        span {
          font-size: 0.7rem !important;
        }
      }
    }
  }

  header,
  main {
    margin: unset !important;
  }

  header {
    padding: 1.5rem 1.5rem !important;
    padding-bottom: 1rem !important;

    img {
      width: 0.9rem;
      height: 0.9rem;
    }

    .search-container {
      // display: none;
    }
    .search-input {
      display: none;
    }

    // .logo-container {
    //   display: flex !important;
    //   flex-direction: column;
    //   align-items: center;
    //   justify-content: center;
    //   gap: 0.1rem;

    //   .logo {
    //     font-family: "Luckiest Guy", cursive;
    //     font-size: 0.8rem;
    //     font-weight: medium;
    //     letter-spacing: 1px;

    //     span {
    //       font-family: "Monoton", cursive;
    //     }
    //   }

    //   .line-design {
    //     border-radius: 10rem;
    //     width: 100%;
    //     height: 0.15rem;
    //     background: linear-gradient(to right, #ff3588, #ac5ccd);
    //   }
    // }

    .logo-container {
      display: flex !important;
    }

    .header-account-settings {
      display: none;
    }

    .menu-btn-mobile-tab {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border-radius: 50%;
      transition: all 0.3s ease-in-out;
    }
  }

  main {
    padding: 1rem 1.5rem !important;
    padding-bottom: 6rem !important;

    h1 {
      font-size: 1.4rem !important;
      margin-bottom: 0.8rem !important;
    }

    .song-list {
      gap: 1rem !important;
      margin-bottom: 2rem !important;

      .song-info {
        width: 8rem !important;

        img {
          width: 8rem !important;
          height: 8rem !important;
          border-radius: 1rem;
        }

        .song-name {
          font-size: 0.65rem !important;
        }

        .song-artist {
          font-size: 0.55rem !important;
        }
      }
    }
  }

  .player {
    padding: 1rem 1.5rem !important;
    height: unset;

    .current-song-info {
      gap: 1rem;

      img {
        width: 2rem;
        height: 2rem;
      }

      & > div {
        gap: 0.2rem;

        .song-name {
          font-size: 0.8rem;
        }
        .song-artist {
          font-size: 0.7rem !important;
        }
      }
    }

    .play-fo-back-controller {
      .backward,
      .forward {
        display: none;
      }
    }

    .main-controller,
    .interactivity {
      display: none !important;
    }

    .full-min-player-toggle {
      display: none;
    }
  }
}
